body{
    background: #669999;
    background-image:  url(img/bg.png);
    background-image:  url(img/bg.png), linear-gradient(180deg, rgba(247,239,255,1) 15%, rgba(102,153,153,1) 40%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    max-height:100%;
}

h1{
    font-family: "comic sans ms";
}

.content {
    max-width:600px;
    margin: auto;
    font-family: serif;
}

.gallery, .gallery :nth-child(n){
    border:2px inset cornflowerblue;
}

table{
    width:100%;
}